footer.page-footer
	ul.unstyled.page-footer-links
		li: a(href="http://www.twitter.com/AshNolan_" target="_blank") AshNolan_
		li: a(href="http://www.twitter.com/tmw_labs" target="_blank") TMW_Labs
		li: a(href="" target="_blank") View Github repo
