extends layouts/default

block vars
	- var page = 'system'
	- var title = 'This is your 404 page calling'
	- var subText = 'Sad times.  Maybe you\'ve lost your way?'


block content
	.page-content-error
		h2.page-content-error-title ☹